<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title> 
        <link rel="icon" href="/image/favicon.png" type="image/png">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    </body>
</html>