<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title> 
        <link rel="icon" href="/image/favicon.png" type="image/png">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <h1>{{projectTitle}}</h1>
        <p>2025年度秋学期 学習計画</p>
        <p>ようこそ、{{username}}さん</p>

    </body>
</html>