<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title> 
        <link rel="icon" href="/image/favicon.png" type="image/png">
    </head>
    <body>

        <center>
            
            <h1>ログイン</h1>
            <p>ログインしてください。</p>

            <input type="login"> <br>
            <input type="password"> <br>

            <button>ログイン</button>
        
        </center>


    </body>
</html>